@import "highlight.css";
/*
*demo 页的代码展示
*/
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
pre {
  display: block;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
code {
  background: #f9f2f4;
  color: #c7254e;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 2px 4px;
}
pre code {
  display: block;
  padding: .5em;
  color: #333;
  background: #f8f8ff;
  white-space: pre-wrap;
}
.plugExample {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 0px 15px;
  border: solid 1px #ddd;
}
.plugExample:after {
  content: "MDUI Example";
  position: absolute;
  top: 15px;
  left: 15px;
  font-weight: bold;
  color: #bbb;
  letter-spacing: 1px;
}
.plugExample + .plugCode {
  margin-top: -16px;
}
.plugCode {
  position: relative;
}
.plugCode pre {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.plugCode:after {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}
.plugCode.codeHTML:after {
  content: "HTML";
  position: absolute;
  font-weight: bold;
  color: #0044aa;
  letter-spacing: 1px;
  opacity: .5;
}
.plugCode.codeHTML pre {
  border-left: solid 5px #0044aa;
}
.plugCode.codeJS pre {
  border-left: solid 5px #00aa1a;
}
.plugCode.codeJS:after {
  content: "JS";
  color: #00aa1a;
}
.plugCode + .plugCode {
  margin-top: -16px;
}
body {
  padding-top: 40px;
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
  height: 40px;
  line-height: 40px;
  background: #0066cc;
  border-bottom: solid 2px #0057AE;
  color: #fff;
}
.header .container {
  height: 100%;
}
.header .nav a {
  color: #fff;
  font-size: 14px;
  margin-right: 30px;
}
.header .nav a.brand-name {
  font-size: 20px;
}
.footer {
  background: #fafafa;
  padding: 10px 0;
  text-align: center;
  margin-top: 30px;
}
.imgCover .img-list li {
  margin: 20px;
  width: 160px;
  height: 120px;
  overflow: hidden;
  float: left;
}
.imgCover .img-list-original li {
  float: left;
  width: 160px;
  margin: 20px;
}
.imgCover .img-list-original li img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.imgCover .img-list-contain .img-container {
  width: 160px;
  height: 120px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  font-size: 0;
}
.banner {
  height: 360px;
  background: #0066cc;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.banner h1 {
  margin-top: 80px;
  font-size: 48px;
}
.banner p {
  font-size: 24px;
}
.mdUIIntro {
  line-height: 50px;
  background: #fafafa;
  text-align: center;
  font-size: 20px;
  border-bottom: solid 1px #DDDDDD;
}
.mdUIVersion {
  color: #0066cc;
  margin-right: 20px;
}
.mdUIUpdateTime {
  font-size: 14px;
}
.plugList {
  margin-top: 40px;
}
.plugList li {
  float: left;
  width: 280px;
  height: 200px;
  margin: 20px;
  text-align: center;
  background: #fafafa;
}
.plugList li.new .plugName:after {
  content: "new!";
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ff5300;
  font-size: 12px;
}
.plugList li .plugName {
  display: table-cell;
  width: 280px;
  height: 60px;
  color: #fff;
  font-size: 14px;
  background: #0066cc;
  vertical-align: middle;
  position: relative;
}
.plugList li .plugName:hover {
  text-decoration: underline;
}
.plugList li .plugIntro {
  border: solid 1px #ddd;
  height: 140px;
}
.plugList li p {
  padding: 6px;
}
.plugExample .btn {
  margin: 20px;
}
/*文档*/
.doc:before,
.doc:after {
  content: " ";
  display: table;
}
.doc:after {
  clear: both;
}
.docDetail {
  float: left;
  width: 75%;
}
.docNav {
  width: 25%;
  float: left;
}
.docNav .docSliderBar {
  position: fixed;
  top: 100px;
  padding-left: 40px;
}
.docNav .docSliderBar a {
  color: #666;
}
.docNav .docSliderBar ul {
  padding-left: 20px;
}
.iconList li {
  width: 25%;
  float: left;
  padding: 2px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.iconList li i {
  width: 14px;
  height: 14px;
  display: inline-block;
  color: #0066cc;
}
