.table {
  width: 100%;
}
.table thead tr {
  border-bottom: solid 1px #CCC;
}
.table td,
.table th {
  text-align: left;
  padding: 8px;
}
.table.tableBordered td,
.table.tableBordered th {
  border: solid 1px #DDD;
}
.table.tableStriped tbody tr:nth-child(even) {
  background-color: #F8F8F8;
}
.table.tableHover tbody tr:hover {
  background-color: #F8F8F8;
}
