@import "../../../css/mixins";
@import "../../../css/variable";

.scroller {
  position: relative;
  overflow: hidden;
  .contentWrap {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .scrollBar {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 12px;
    background: rgb(245, 245, 245);
    border-left: solid 1px #eee;
    .transition(all .3s);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    .box-shadow(inset 0 0 10px rgba(99, 99, 99, 0.2));
    &:hover {
      background: rgba(225, 225, 225, .8);
    }
    .scrollBtn {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      .border-radius(6px);
      height: 20px;
      background: #BBB;
      cursor: pointer;
    }
  }
  &.flat {
    .scrollBar {
      .border-radius(0);
      .box-shadow(none);
    }
    .scrollBtn{
      .border-radius(0)
    }
  }
}