.dropdown {
  position: relative;
  display: inline-block;
  color: #0066cc;
}
.dropdown .dropdown-btn {
  border: solid 1px #0066cc;
  background: #FFF;
}
.dropdown .dropdown-btn .icon-arrow-down {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.dropdown .dropdown-list {
  position: absolute;
  margin-top: -1px;
  width: 100%;
  z-index: 99;
  top: 100%;
  left: 0;
  display: none;
  border: solid 1px #0066cc;
  border-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dropdown .dropdown-list:before,
.dropdown .dropdown-list:after {
  content: " ";
  display: table;
}
.dropdown .dropdown-list:after {
  clear: both;
}
.dropdown .dropdown-list li {
  line-height: 30px;
  padding: 0 6px;
  border-bottom: solid 1px #0066cc;
  background: #FFF;
}
.dropdown .dropdown-list li:hover {
  background: #0066cc;
  cursor: pointer;
  color: #FFF;
}
.dropdown.open .dropdown-btn i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.dropdown.open .dropdown-list {
  display: block;
}
